#header img {
    height: 6rem;
    width: auto;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #4aaae2
  }

  .homepage-img{
    background: url("/Users/sarah/vacation-bucket-list/frontend/capturing-the-human-heart-TrhLCn1abMU-unsplash (2).jpg") no-repeat right top;
    height: 800px;
    background-size: cover;
  }